/* .cart{
    background-color: var(--light-green--);
    width:8%;
    height:19vh;
    border-radius: 6px;
    margin-right:1pc;
    position:absolute;
    top: 44%;
    right: -0%;
    position:fixed;
   
} */
.bag{
    font-size: 23px;
    }
    .p1{
        color: white;
        column-gap: 0.5pc;
        justify-content: center;
    }
    .cart-doller{
        background-color: white;
        color:var(--light-green--);
        border-radius: 5px;
        padding:6px;
        border:1px solid white;
       
    }
    .item-bag{
        color:var(--light-green--);
        font-size:20px;
        margin-top:1pc;
    }
   .body_bag{
    font-size: 10pc;
    color:var(--light-green--);
    text-align: center;
    margin-top:3pc;
   }
   .no_product{
    text-align: center;
    margin-top:1pc;
    font-weight: bold;
   }
    .item-count{
       
    }
    .checkout{
        color: white;
        background-color:var(--light-green--);
        border:none;
        border-radius: 50px;
        padding:10px;
        font-size:20px;
        margin-top:5pc;
    }
    .check-btn{
        background-color: green;
        
        
    }
    .modal{
width: 100%;
    }
     .modal-top-right {
        width:100%;
        position: fixed;
        top: 0;
        /* top: -10px; */
        right: 10px;
        left: 33%;
        height: 200px;                          
        margin:0;
        padding: 0;
      }
    
    .countdoller
    {
        background-color: white;
        border-radius: 50px;
        border:none;
        font-size:20px;
        color:green; 
        padding-left:1pc;
        padding-right:1pc;
    

    }
    @media only screen and (max-width: 400px) {
        .cart{
            display:none;
        }
    }
    @media only screen and (max-width: 600px) {
        .cart{
            display:none;
        }
    }
    @media only screen and (max-width: 768px) {
        .cart{
            display:none;
        }
    }